.THIS.totalContainer {
    position: relative;
    padding: 10px 15px 10px 15px;
}
.THIS.authReq {
    pointer-events: none;
    color: rgb(121, 121, 121);
    text-align: center;
    z-index: 999;
}
.THIS.saveButton {
    padding: 10px 10px 0 0;
}
.THIS.font20 {
    font-size: 20px;
}
.THIS td.removeSubfolder {
    cursor: pointer;
    color: blue;
}
.THIS .disp-block {
    display: block;
}
.THIS .text-right{
    font-size: 90%;
    color: #e00000;
    float: right;
}